/* slideshow css */
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Caveat');


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  /* max-height: 200px;*/
  /* position: relative; */
  margin: auto;
  margin-top:0;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  /*position: absolute; */
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}

/* Caption text */
.text {
  /* color: #f2f2f2; */
  /* font-size: 15px; */
  /* color: rgb(58, 7, 198); */
  color: dodgerblue;
  font-size: 3.5vw;
  font-family: 'Caveat', cursive;
  padding: 0px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  /*-webkit-text-stroke-color: rgb(22, 36, 135); */
  -webkit-text-stroke-color: dodgerblue;
}

.text2 {
  /* color: #f2f2f2; */
  /* font-size: 15px; */
  /* color: rgb(58, 7, 198); */
  color: dodgerblue;
  font-size: 3.0vw;
  font-family: 'Caveat', cursive;
  padding: 0px 12px;
  text-align: center;
  margin-top: 23%;
  -webkit-text-stroke-width: 1px;
  /*-webkit-text-stroke-color: rgb(22, 36, 135); */
  -webkit-text-stroke-color: dodgerblue;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 2.0vw;
  font-family: 'Caveat', cursive;
  padding: 8px 12px;
  /* position: absolute; */
  
  text-align: center;
}

.numbertext2 {
  /*color: #f2f2f2; */
  color: #e0eaf9;
  font-size: 2.0vw;
  font-family: 'Caveat', cursive;
  padding: 8px 12px;
  /* position: absolute; */
  margin-top: -1%;
  
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  /* background-color: #717171; */
  background-color: dodgerblue;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.sImage{
	height: 200px;
	margin-right:auto;
	margin-left:auto;

}

.sImage2{
	height: 200px;
	margin-right:auto;
	margin-left:auto;
	margin-top: -30px;
	
}

table {

	padding-top:25%;
}
